body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.category-card {
    transition: transform 0.3s ease;
    border: none;
}

.category-card:hover {
    transform: translateY(-5px);
}

.category-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.empresa-logo {
    max-width: 150px;
    max-height: 150px;
}